body {
    background-repeat: repeat;
    background-position: center;
    background-attachment: scroll;
    margin:0px;
    padding:0px;
}

.main{
    padding: 20px;
    padding-top: 10%;
    text-align:  center;
}

.kodawari{
    font-size: 40px;
    font-family: "BIZ UDMincho";
}

.box3{
    margin:4%;
    padding: 20px;
    display:flex;
    border: solid 2px #ffcb8a;
    background-color: #0073a8;
    

}

.box3 h3{
    color: antiquewhite;
    font-size: 20px;
    padding-left:3%;
    padding-right:5%;
    padding: 60px;
    line-height: 2.5;
    
}

.box3 img{
    height:400px;
}

.box2{
    font-size: 20px;
    margin:4%;
    padding: 10px;
    display:flex;
    text-align:center;
    border: solid 2px #ffcb8a;
    background-color: #0073a8;
}

.box2 h3{
    color: antiquewhite;
    font-size: 20px;
    margin-top: 7%;
    padding-right:5%;
    line-height: 2.5;

}

.box2 img{
    height:400px;
}